<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta http-equiv="refresh" content="5">
<style>
h1 {text-align: center;}
h2 {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>
<h1><%= title %> 2021 Avraham & Niv</h1>
    <h2>No of vehicles in section 1 : <%= s_1 %></h2>
    <h2>No of vehicles in section 2 : <%= s_2 %></h2>
    <h2>No of vehicles in section 3 : <%= s_3 %></h2>
    <h2>No of vehicles in section 4 : <%= s_4 %></h2>
    <h2>No of vehicles in section 5 : <%= s_5 %></h2>
    <h2><a href="http://127.0.0.1:3000/section1vehicles">List of vehicles in section 1</a></h2>
    <h2><a href="http://127.0.0.1:3000/section2vehicles">List of vehicles in section 2</a></h2>
    <h2><a href="http://127.0.0.1:3000/section3vehicles">List of vehicles in section 3</a></h2>
    <h2><a href="http://127.0.0.1:3000/section4vehicles">List of vehicles in section 4</a></h2>
    <h2><a href="http://127.0.0.1:3000/section5vehicles">List of vehicles in section 5</a></h2>
    <h2><a href="http://127.0.0.1:3000/confusionmatrix">Confusion Matrix</a></h2>
</body>
</html>
